<div   class="row">
  <div  style="height: 400px; width: 600px;">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>

<div style="height: 500px; width: 500px;">
  <p-chart type="pie" [data]="basicDataLoan" [options]="basicOptionsLoan"></p-chart>
</div>
</div>
<div   class="row">
    <div style="height: 300px; width: 500px;">
       <p-chart type="doughnut" [data]="basicDataPersonal" [options]="basicOptionsPersonal" ></p-chart>
    </div>
     <div style="height: 700px; width: 700px;">
        <p-chart type="bar" [data]="basicDataProfessional" [options]="basicOptionsProfessional" ></p-chart>
      </div>

</div>
<div class="row">
  <div  style="height: 400px; width: 600px;">
    <p-chart type="bar" [data]="basicDataAdministrative" [options]="basicOptionsAdministrative"></p-chart>
  </div>

  <div style="height: 500px; width: 500px;">
    <p-chart type="pie" [data]="basicDataAutorization" [options]="basicOptions"></p-chart>
  </div>
</div>

